*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html) {
  -webkit-text-size-adjust: none;
}

:where(body) {
  block-size: 100%;
  block-size: 100svh;
  line-height: 1;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, optgroup, select) {
  color: inherit;
  font-size: 16px;
  border: none;
}

:where(button, select) {
  text-transform: none;
}

:where(button) {
  background-color: transparent;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: -1px;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role='button'], [role='option']) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where([hidden]) {
  display: none !important;
}

:where(a object) {
  pointer-events: none;
}

:where(ul, ol) {
  list-style: none;
}

:where(table) {
  border-spacing: 0;
  border-collapse: collapse;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  font: unset;
}

:where(
    .visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)
  ) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* 視覚効果を無効にしてるユーザにはアニメーションさせない */
@media (prefers-reduced-motion: reduce) {
  *:not(#id),
  :not(#id)::before,
  :not(#id)::after {
    transition-delay: 0s !important;
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
  }
}
